
/* color-scheme from http://colorschemedesigner.com : http://colorschemedesigner.com/#5z22P77m6v5P.
 */

$primary_color_pastel: #A98388;
$primary_color_dark: #806A6D;
$primary_color_vivid: #6F2D34;
$primary_color_light: #F0D0D4;
$primary_color_lighter: #F0E2E3;

$complementary_color_pastel: #7A9473;
$complementary_color_dark: #61705D;
$complementary_color_vivid: #336227;
$complementary_color_light: #D3ECCD;
$complementary_color_lighter: #E1ECDE; // #d3ebcc; // original was: #E1ECDE;

// application layout
/*$application_layout_background_color: #D8D9DA;*/
$application_layout_background_color: $primary_color_dark;
$application_layout_main_background_color: white;
$header_background_color: $primary_color_pastel;






// user navigation
$user_navigation_background_color: $primary_color_vivid;
$user_navigation_text_color: white;

// navigation
$navigation_tab_background_color: $primary_color_vivid;
$navigation_tab_focus_background_color: $primary_color_dark;
$navigation_current_tab_background_color: $application_layout_background_color;

// login
$login_container_background_color: white;
$login_field_background_color: #FAFAFA;
$login_field_border_color: #DDD;

// forms
$button_light_background_color: #F0F0F0;
$button_dark_background_color: #CFCFCF;
$button_border_top_color: #CCC;
$button_border_right_color: #999;
$button_border_bottom_color: $button_border_right_color;
$button_border_left_color: $button_border_top_color;

$input_field_border_top_color: #999;
$input_field_border_right_color: #EEE;
$input_field_border_bottom_color: #DDD;
$input_field_border_left_color: #CCC;
$input_field_error_background_color: #EB919C;

$grouping_box_border_color: #CCC;

// text
$application_layout_body_text_color: #222;
$quiet_text_color: #666;
$loud_text_color: #000;
$jump_out_text_color: #F28933;
$metadata_text_color: #F15E24;
$in_place_edit_border_color: #71724C;

// headings
$heading3_border_color: #666;

// messages
$error_box_background_color: #FFE3E3;
$error_box_border_color: #DD0000;

$warning_box_background_color: #FFF6BF;
$warning_box_border_color: #FFD324;

$notice_box_background_color: #E6EFC2;
$notice_box_border_color: #C6D880;

// links
$link_color: orange;
$link_focus_color: $primary_color_vivid;

$header_link_color: white;
$header_link_focus_color: orange;

// tables
$datatable_header_background_color: $complementary_color_pastel;
$datatable_body_border_color: #DDDDDD;
$datatable_body_focus_background_color: $complementary_color_lighter;
$datatable_details_header_background_color: #F0F0F0;
$datatable_details_body_border_color: #D0D0D0;

// filters
$filter_background_color: #EFEFEF;
$filter_border_top_color: #D9D9D9;
$filter_border_left_color: #CCCCCC;
$filter_body_border_color: white;