/*
    Stylesheet for <Vocabularium>
*/

@import "colors";
@import "mixins";
@import "datatables";

// local mixins
@mixin local_input_field{
    @include input_field( $input_field_border_top_color,
                          $input_field_border_right_color,
                          $input_field_border_bottom_color,
                          $input_field_border_left_color )
}

h1, h2{
    font-family: Palatino, Georgia, "Times New Roman", serif;
    font-size: 182%;
    margin: 0 0 10px 0;
}

h1{
    color: $loud_text_color;
}

h2, h3{
    color: $quiet_text_color;
}

p {
    margin-top:5px;
    margin-bottom:5px;
}

h3{
    font-family: Palatino, Georgia, "Times New Roman", serif;
    font-size: 161.6%;
    border-bottom: 1px solid $heading3_border_color;
    margin: 1.2em 0 0.5em 0;
    padding: 0 0 0.25em 0;
}

.errorExplanation{
    background-color: $error_box_background_color;
    border: 1px solid $error_box_border_color;
    margin: 0 0 15px 0;
    padding: 1em;

    h2{
        font-size: 108%;
        font-weight: bold;
        margin: 0 0 10px 0
    }

    li{
        list-style: disc inside none;
    }
}

.warning, .alert{
    background-color: $warning_box_background_color;
    border: 1px solid $warning_box_border_color;
    margin: 0 0 1.5em;
    padding: 0.5em 1em;
}

.notice{
    background-color: $notice_box_background_color;
    border: 1px solid $notice_box_border_color;
    margin: 0 0 1.5em;
    padding: 0.5em 1em;
}

.actions{
    margin: 0 0 0.5em 0;
}

.filter{
    background-color: $filter_background_color;
    border-color: $filter_border_top_color $filter_border_left_color;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.5em;

    .filter-body{
        border: 1px solid $filter_body_border_color;
        padding: 0.5em;
    }

    input[type="submit"]{
        padding: 0.25em 0.5em;
    }
}


#login{
    @include border_radius(10px);
    background-color: $complementary_color_lighter;
    margin: 2em auto 0;
    padding: 1em 3em 1em;
    width: 400px;

    h1{
        color: $quiet_text_color;
    }

    p{
        margin: 0 0 10px 0;
    }

    label{
        display: block;
        float: left;
        margin: 0 10px 0 0;
        width: 160px;
    }

    input{
        background-color: $login_field_background_color;
        border: 1px solid $login_field_border_color;
        padding: 3px;
    }

    input#user_remember_me{
        margin: 0;

        & + label{
            display: inline;
            float: none;
        }
    }

    input#user_session_submit{
        @include border_radius(5px);
        @include button_background_gradient($button_light_background_color, $button_dark_background_color);
        @include button($button_border_top_color, $button_border_right_color, $button_border_bottom_color, $button_border_left_color);
        margin-left: 0;
    }
}

body.user_sessions{
    .error, .warning, .notice{
        margin: 0 auto;
        width: 400px;
    }
}

h1 + form{
    margin-top: 1.5em;
}

.field_with_errors{
    & > label {
        color: red;
    }

    & > input{
        background-color: $input_field_error_background_color;
    }
}



form{
    @include local_input_field;

    div{
        margin: 0 0 10px 0;
    }

    label{
        clear:left;
        display: block;
        float: left;
        width: 170px;
    }

    input[type="checkbox"], input[type="submit"] {
        margin-left: 170px;
    }

    input + label{
        display: inline;
        float: none;
    }
}

.fields {
    border:1px dashed $grouping_box_border_color;
    padding: 10px 5px 0px 10px;
}

input[type="submit"]{
    @include border_radius(5px);
    @include button_background_gradient($button_light_background_color, $button_dark_background_color);
    @include button($button_border_top_color, $button_border_right_color, $button_border_bottom_color, $button_border_left_color);
}