/*
    Stylesheet for <Vocabularium>
*/
/* color-scheme from http://colorschemedesigner.com : http://colorschemedesigner.com/#5z22P77m6v5P.
 */
/*$application_layout_background_color: #D8D9DA;*/
/* color-scheme from http://colorschemedesigner.com : http://colorschemedesigner.com/#5z22P77m6v5P.
 */
/*$application_layout_background_color: #D8D9DA;*/
/*@mixin button_background_gradient($top_color, $bottom_color){*/
/*background-color: $button_dark_background_color; // fallback*/
/*background: -moz-linear-gradient(center top, $top_color, $bottom_color) repeat scroll 0 0 transparent;*/
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color), to($bottom_color)) repeat scroll 0 0 transparent;*/
/*&:hover{*/
/*background-color: $button_light_background_color;*/
/*background: -moz-linear-gradient(-90deg, $top_color+10, $bottom_color+10) repeat scroll 0 0 transparent;*/
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color+10), to($bottom_color+10)) repeat scroll 0 0 transparent;*/
/*}*/
/*}*/
/* color-scheme from http://colorschemedesigner.com : http://colorschemedesigner.com/#5z22P77m6v5P.
 */
/*$application_layout_background_color: #D8D9DA;*/
.datatable-defaults caption, .datatable-with-row-hover caption, .grid table caption, table.grid caption, .datatable-details caption, table.compact caption, table caption {
  display: none; }
.datatable-defaults th, .datatable-with-row-hover th, .grid table th, table.grid th, .datatable-details th, table.compact th, table th, .datatable-defaults td, .datatable-with-row-hover td, .grid table td, table.grid td, .datatable-details td, table.compact td, table td {
  padding: 0.5em; }

.datatable-with-row-hover thead th, .grid table thead th, table.grid thead th {
  background-color: #7a9473;
  color: black;
  font-weight: bold; }
.datatable-with-row-hover tbody td, .grid table tbody td, table.grid tbody td {
  border-bottom: 1px solid #dddddd; }
.datatable-with-row-hover tbody tr:hover > *, .grid table tbody tr:hover > *, table.grid tbody tr:hover > * {
  background-color: #e1ecde; }

.datatable-details tbody td:first-child, table.compact tbody td:first-child {
  background-color: #f0f0f0;
  border-right: 3px solid #d0d0d0; }
.datatable-details tbody td, table.compact tbody td {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0; }

h1 + table {
  margin-top: 10px; }

.grid table, table.grid {
  width: 100%; }

#envelope_detail > table th, #envelope_detail > table td {
  color: black;
  padding: 0.25em 0.5em 0.25em 0.25em; }
#envelope_detail > table thead th {
  color: #f15e24; }

h1, h2 {
  font-family: Palatino, Georgia, "Times New Roman", serif;
  font-size: 182%;
  margin: 0 0 10px 0; }

h1 {
  color: black; }

h2, h3 {
  color: #666666; }

p {
  margin-top: 5px;
  margin-bottom: 5px; }

h3 {
  font-family: Palatino, Georgia, "Times New Roman", serif;
  font-size: 161.6%;
  border-bottom: 1px solid #666666;
  margin: 1.2em 0 0.5em 0;
  padding: 0 0 0.25em 0; }

.errorExplanation {
  background-color: #ffe3e3;
  border: 1px solid #dd0000;
  margin: 0 0 15px 0;
  padding: 1em; }
  .errorExplanation h2 {
    font-size: 108%;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .errorExplanation li {
    list-style: disc inside none; }

.warning, .alert {
  background-color: #fff6bf;
  border: 1px solid #ffd324;
  margin: 0 0 1.5em;
  padding: 0.5em 1em; }

.notice {
  background-color: #e6efc2;
  border: 1px solid #c6d880;
  margin: 0 0 1.5em;
  padding: 0.5em 1em; }

.actions {
  margin: 0 0 0.5em 0; }

.filter {
  background-color: #efefef;
  border-color: #d9d9d9 #cccccc;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0.5em; }
  .filter .filter-body {
    border: 1px solid white;
    padding: 0.5em; }
  .filter input[type="submit"] {
    padding: 0.25em 0.5em; }

#login {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  background-color: #e1ecde;
  margin: 2em auto 0;
  padding: 1em 3em 1em;
  width: 400px; }
  #login h1 {
    color: #666666; }
  #login p {
    margin: 0 0 10px 0; }
  #login label {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    width: 160px; }
  #login input {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    padding: 3px; }
  #login input#user_remember_me {
    margin: 0; }
    #login input#user_remember_me + label {
      display: inline;
      float: none; }
  #login input#user_session_submit {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background-color: #cfcfcf;
    background: -moz-linear-gradient(center top, #f0f0f0, #cfcfcf) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#cfcfcf)) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0F0, endColorstr=#CFCFCFCF);
    border-color: #cccccc #999999 #999999 #cccccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0.5em 1em;
    margin-left: 0; }
    #login input#user_session_submit:hover {
      background-color: #f0f0f0;
      background: -moz-linear-gradient(-90deg, #fafafa, #d9d9d9) repeat scroll 0 0 transparent;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#d9d9d9)) repeat scroll 0 0 transparent;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0F0+10, endColorstr=#CFCFCFCF+10); }

body.user_sessions .error, body.user_sessions .warning, body.user_sessions .notice {
  margin: 0 auto;
  width: 400px; }

h1 + form {
  margin-top: 1.5em; }

.field_with_errors > label {
  color: red; }
.field_with_errors > input {
  background-color: #eb919c; }

form input[type="text"], form input[type="password"] {
  border-color: #999999 #eeeeee #dddddd #cccccc;
  border-style: solid;
  border-width: 1px;
  padding: 3px 5px; }
form div {
  margin: 0 0 10px 0; }
form label {
  clear: left;
  display: block;
  float: left;
  width: 170px; }
form input[type="checkbox"], form input[type="submit"] {
  margin-left: 170px; }
form input + label {
  display: inline;
  float: none; }

.fields {
  border: 1px dashed #cccccc;
  padding: 10px 5px 0px 10px; }

input[type="submit"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  background-color: #cfcfcf;
  background: -moz-linear-gradient(center top, #f0f0f0, #cfcfcf) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#cfcfcf)) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0F0, endColorstr=#CFCFCFCF);
  border-color: #cccccc #999999 #999999 #cccccc;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0.5em 1em; }
  input[type="submit"]:hover {
    background-color: #f0f0f0;
    background: -moz-linear-gradient(-90deg, #fafafa, #d9d9d9) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#d9d9d9)) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0F0+10, endColorstr=#CFCFCFCF+10); }
