/*
    Stylesheet for <VASCO Data Security - SMS Gateway>
	@author	name Kjel Delaey <kde@vasco.com>
*/
/*@mixin button_background_gradient($top_color, $bottom_color){*/
/*background-color: $button_dark_background_color; // fallback*/
/*background: -moz-linear-gradient(center top, $top_color, $bottom_color) repeat scroll 0 0 transparent;*/
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color), to($bottom_color)) repeat scroll 0 0 transparent;*/
/*&:hover{*/
/*background-color: $button_light_background_color;*/
/*background: -moz-linear-gradient(-90deg, $top_color+10, $bottom_color+10) repeat scroll 0 0 transparent;*/
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color+10), to($bottom_color+10)) repeat scroll 0 0 transparent;*/
/*}*/
/*}*/
html, body {
  background-color: #d8d9da; }

body {
  color: #222222;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4em; }

a, a:link, a:visited {
  color: #005596;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #005596;
  text-decoration: underline; }

#header {
  background-color: #333333;
  background: url("/images/banner_bg-light.png") repeat-x;
  height: 100px;
  padding: 1em 1em 0;
  position: relative; }
  #header a, #header a:link, #header a:visited {
    color: white;
    text-decoration: underline; }
  #header a:hover, #header a:active, #header a:focus {
    color: #3399cc; }
  #header h1 {
    float: left;
    text-align: right;
    background: url("/images/vocabularium-header-2.png") no-repeat;
    height: 98px;
    width: 590px;
    margin-left: 15px; }
    #header h1 .hideText {
      display: none; }
    #header h1 a {
      display: block;
      height: 100%;
      width: 100%; }
  #header #user_nav {
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    background-color: #262626;
    color: white;
    padding: 0.5em 0.75em;
    position: absolute;
    top: 0;
    right: 1em; }
  #header ul#nav {
    position: absolute;
    bottom: 0;
    right: 1em; }
    #header ul#nav li {
      display: inline; }
      #header ul#nav li a {
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -khtml-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        -khtml-border-top-right-radius: 5px;
        background-color: #3d3b3b;
        float: left;
        margin: 0 1px;
        padding: 0.5em 0.75em;
        text-decoration: none; }
      #header ul#nav li a:hover {
        background-color: #262626; }
      #header ul#nav li.current a {
        background-color: #d8d9da;
        color: black; }

#main {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  background-color: white;
  margin: 1em;
  padding: 1em; }

body.user_sessions #main {
  background-color: #d8d9da; }

#footer {
  color: #666666;
  font-size: 85%;
  padding: 10px 0 10px;
  position: relative;
  text-align: center; }
  #footer img#company_logo_footer {
    position: absolute;
    top: 5px;
    left: 15px; }

body.user_sessions img#company_logo_footer {
  display: none; }

ol {
  font-family: Palatino, Georgia, "Times New Roman", serif;
  font-size: 182%;
  margin: 0 0 10px 0;
  color: #f28933;
  list-style-type: decimal; }
  ol p {
    color: #666666; }
